# OpenOCD config - don't halt target on GDB connect
source [find interface/stlink.cfg]
transport select swd
adapter speed 4000
reset_config srst_only srst_gates_jtag
source [find target/stm32f7x.cfg]

# Don't halt when GDB connects
gdb_breakpoint_override hard
gdb_memory_map enable

# Don't stop on connect
gdb_port 3333
tcl_port 6666
telnet_port 4444

init
# Don't reset or halt
