# OpenOCD configuration for MATEKF765SE - Reset only
source [find interface/stlink.cfg]
set CHIPNAME stm32f7x
source [find target/stm32f7x.cfg]
adapter speed 4000
reset_config srst_only srst_gates_jtag

init
reset run
shutdown
