[Desktop Entry]
Name=FC Tool IP Address
Comment=Show IP address for Flight Controller Web Tool
Exec=python3 /home/raymorris/Documents/planes/inavflight/raytools/fc_hardware_test_tools/show_ip_address.py
Icon=network-workgroup
Terminal=false
Type=Application
Categories=Utility;Network;
